<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3f51b5;">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/home']"><i class="fa fa-book mr-1"></i>Book Cart</a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/addbook']">Add Book</a>
      </li>
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link"  [routerLink]="['/addtocard']">
            <i class="fa fa-shopping-cart">
              <span class="badge badge-danger">{{cartItemCount}}</span>
            </i>
          </a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown >
      <!-- <span class="mr-1">
        <img src="{{photoUrl || '../../../../assets/user.png'}}" alt="">
      </span> -->
      <a class="dropdown-toggle text-light" dropdownToggle >
        <i class="fa fa-user-circle"></i>
       Welcome {{authService.decodedToken.unique_name | titlecase}}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu >
         <!-- <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a> -->
         <a class="dropdown-item"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout </a>
      </div>
    </div>
  </div>
</nav>